.DS_Store
/.python-version
/.venv
/.vscode
/Upload
/Videos
/Subtitles
/__pycache__
/backupCode
/client_secret_*.json
/creds.py
/.env
/kokoro-v1.0.onnx
/pyproject.toml
/transcriptions
/uv.lock
/voices-v1.0.bin
/Audio
/result.txt
/uploaded_records.txt
/README-INSTRUCTIONS.md
